{% extends "base.html" %}

{% block content %}
<!--<h1>Login</h1>-->
<form action="" method="post">
<!--    <input type='text' name="username" placeholder='Username' /><br><br>-->
<!--    <input type='password' name="password" placeholder='Mobile' /><br><br>-->
<!--    <input type='submit' value='Login'/>-->


    <div class="container h-80">
    <div class="row align-items-center h-100">
        <div class="col-3 mx-auto">
            <div class="text-center">
                <img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form  class="form-signin">

                    <input type="text" name="username" id="inputPassword" class="form-control form-group" placeholder="User ID" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="Password" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
                </form><!-- /form -->
            </div>
        </div>
    </div>
    </div>

    </form>

<style>
    body,html {
    background-image: url('https://i.imgur.com/xhiRfL6.jpg');
    height: 100%;
}

#profile-img {
    height:180px;
}
.h-80 {
    height: 80% !important;
}
</style>
{% endblock %}
