{% extends "base.html" %}

{% block content %}

<script type="text/javascript"> 
    alert("Successfully Registered!"); 
    window.location.href = "/";
</script>;


<style>
    body{
		/*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
		background-image: linear-gradient(to right,#27daf4,#3572f1);
	}

    /* .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    } */
</style>

{% endblock %}